$color-background = #fdfdfc
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #e5e5e5
$color-scrollbar = #d4d4d8
$color-meta = #737373
$color-meta-code = lighten($color-meta, 10%)
$color-link = #0d9488
$color-text = #171717
$color-accent-1 = #dc2626
$color-accent-2 = #0f766e
$color-accent-3 = #a3a3a3
$color-quote = #dc2626
$highlight = hexo-config("highlight") || "github"