// Modern Dark (Deep Sea Indigo) - Elegant & Techy
$color-background = #1a1b26
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = #24283b
$color-border = #414868
$color-scrollbar = #414868
$color-meta = #7982a9
$color-meta-code = #7982a9
$color-link = #7aa2f7
$color-text = #c0caf5
$color-accent-3 = #565f89
$color-accent-2 = #bb9af7
$color-accent-1 = #2ac3de
$color-quote = #9ece6a
$highlight = hexo-config("highlight") || "rainbow"
