// True Lavender - Airy, Light, and Elegant
$color-background = #f9f8ff
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = #f3f1ff
$color-border = #e9e4ff
$color-scrollbar = #dcd7ff
$color-meta = #8b85b1
$color-meta-code = lighten($color-meta, 10%)
$color-link = #8b5cf6
$color-text = #312e81
$color-accent-3 = #a78bfa
$color-accent-2 = #5b21b6
$color-accent-1 = #a78bfa
$color-quote = #7c3aed
$highlight = hexo-config("highlight") || "github"