$color-background = #eae7e2
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #a8a29e
$color-scrollbar = #a8a29e
$color-meta = #78716c
$color-meta-code = lighten($color-meta, 10%)
$color-link = #059669
$color-text = #292524
$color-accent-3 = #57534e
$color-accent-2 = #1c1917
$color-accent-1 = #e11d48
$color-quote = #be123c
$highlight = hexo-config("highlight") || "github"