$color-background = #ffffff
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #e5e5e5
$color-scrollbar = #d4d4d8
$color-meta = #737373
$color-meta-code = lighten($color-meta, 10%)
$color-link = #f472b6
$color-text = #171717
$color-accent-3 = #a3a3a3
$color-accent-2 = #171717
$color-accent-1 = #10b981
$color-quote = #10b981
$highlight = hexo-config("highlight") || "atelier-cave-light"